.custom-button {
    height: 16px;
}
.custom-button:hover,
.custom-button.active
{
        background-color: var(--my-primary) !important;
}
@media (max-width: 992px) {
    .col-sm-4 {
        width: 50% !important;
    }
}
@media (max-width: 768px) {
    .col-sm-4 {
        width: 100% !important;
    }
}
