:root {
    --my-primary: #3fbbc0;
    --my-secondary: #eceff4;
    --bg-section: #F7FCFC;
    --bg-head:#f9f9f9;
    --text-color: #555555;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif !important;
}
ul {list-style: none;}
.bg-my-primary {
    background-color: var(--my-primary) !important;
}
.bg-my-secondary {
    background-color: var(--my-secondary);
}
.bg-section {
    background-color: var(--bg-section);
}
.bg-head {
    background-color: var(--bg-head) !important;
}
.c-my-primary {
    color: var(--my-primary) !important;
}
.border-my-primary {
    border: 1px solid var(--my-primary) !important;
}
.border-4-primary {
    border: 4px solid var(--my-primary) !important;
}
.text-color {
    color: var(--text-color) !important;
}
a {
    color: #555555 !important;
    transition: 0.4s;
    text-decoration: none !important;
}
a:hover, a.active {
    color: var(--my-primary) !important;
}
.my-border-top {
    border-top: 3px solid var(--my-primary);
}
.h-fit-content {
    height: fit-content;
}
button:hover {
    opacity: 0.8;
}
.list-group-item {
    border: none !important;
}
.icon-shadow {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1) ;
}
.icon-contact {
    border: 1px dotted var(--my-primary);
    width: 50px;
    height: 50px;
}
@media (max-width: 992px) {
   a .logo {
        width: 120px !important;
    }
}